/*
 * Soliguide: Useful information for those who need it
 *
 * SPDX-FileCopyrightText: © 2024 Solinum
 *
 * SPDX-License-Identifier: AGPL-3.0-only
 *
 * This program is free software: you can redistribute it and/or modify
 * it under the terms of the GNU Affero General Public License as published
 * by the Free Software Foundation, either version 3 of the License, or
 * (at your option) any later version.
 *
 * This program is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 * GNU Affero General Public License for more details.
 *
 * You should have received a copy of the GNU Affero General Public License
 * along with this program.  If not, see <https://www.gnu.org/licenses/>.
 */
:host ::ng-deep .ck-editor__editable_inline {
  min-height: 130px !important;
  border-radius: 0 0 4px 4px !important;
}

:host ::ng-deep .is-invalid .ck-editor__editable_inline {
  border: 1px solid var(--bs-danger) !important;
}

.service-form-header {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 70px;
  background-color: white;
  border: 1px solid #c9c9c9;
  border-radius: 5px;
  cursor: pointer;
}

.service-form-header.visible {
  border-radius: 5px 5px 0 0;
  background-color: rgba(99, 93, 172, 0.05);
  cursor: initial;
}

.service-form-header-inner {
  width: 100%;
  flex-wrap: nowrap;
}

.service-form-header-inner-container {
  display: flex;
  flex-flow: column nowrap;
  position: relative;
}

.service-title {
  color: #575757;
  font-weight: 600;
}

.service-condition-container {
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-evenly;
  align-items: flex-start;
}

.service-condition {
  background-color: white;
  border-radius: 70px;
  border: 1px solid #e65a46;
  color: #e65a46;
  padding: 4px 14px;
  font-weight: 600;
  margin: 0.25rem 0;
  font-size: 0.95rem;
}

.service-form {
  padding: 15px 15px 20px;
  border: 1px solid #c9c9c9;
  border-radius: 0 0 5px 5px;
  border-top-width: 0;
}

@media only screen and (min-width: 992px) {
  .service-form-header {
    min-height: auto;
  }

  .service-form-header-inner-container {
    flex-flow: row wrap;
    align-items: center;
    padding-left: 30px;
  }

  .service-form-header-inner-container::before {
    content: "";
    position: absolute;
    top: 50%;
    left: calc(15px / 2);
    transform: translateY(-50%);
    width: 15px;
    height: 100%;
    background: center center no-repeat
      url("../../../../../../assets/images/symbols/grab-drag-element.svg");
    cursor: grab;
  }

  .service-form-header.visible .service-form-header-inner-container::before {
    cursor: initial;
  }

  .service-title-container {
    margin-right: 5px;
    padding: 3px 0;
  }

  .service-condition-container {
    flex-flow: row wrap;
    justify-content: flex-start;
  }

  .service-condition {
    margin: 0 5px;
  }

  .service-condition:first-of-type {
    margin-left: 0px;
  }

  .service-form {
    padding: 30px 30px 40px;
  }
}
