/*
 * Soliguide: Useful information for those who need it
 *
 * SPDX-FileCopyrightText: © 2024 Solinum
 *
 * SPDX-License-Identifier: AGPL-3.0-only
 *
 * This program is free software: you can redistribute it and/or modify
 * it under the terms of the GNU Affero General Public License as published
 * by the Free Software Foundation, either version 3 of the License, or
 * (at your option) any later version.
 *
 * This program is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 * GNU Affero General Public License for more details.
 *
 * You should have received a copy of the GNU Affero General Public License
 * along with this program.  If not, see <https://www.gnu.org/licenses/>.
 */

.history-update {
  padding: 0.5rem 1rem;
  margin: 1rem 0;
}

.added {
  border-left: 6px solid var(--bs-success);
}
.deleted {
  border-left: 6px solid var(--bs-danger);
}
.edited {
  border-left: 6px solid var(--bs-warning);
}
.unchanged {
  border-left: 6px solid #8a8a8a;
}

section {
  background: white;
  border: 1px solid rgba(72, 101, 217, 0.2);
  box-sizing: border-box;
  border-radius: 8px;
  padding: 1.25rem 1.5rem !important;
  margin-bottom: 1.5rem;
}
