/*
 * Soliguide: Useful information for those who need it
 *
 * SPDX-FileCopyrightText: © 2024 Solinum
 *
 * SPDX-License-Identifier: AGPL-3.0-only
 *
 * This program is free software: you can redistribute it and/or modify
 * it under the terms of the GNU Affero General Public License as published
 * by the Free Software Foundation, either version 3 of the License, or
 * (at your option) any later version.
 *
 * This program is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 * GNU Affero General Public License for more details.
 *
 * You should have received a copy of the GNU Affero General Public License
 * along with this program.  If not, see <https://www.gnu.org/licenses/>.
 */
.place_result_name {
  font-size: 1.25rem;
  font-weight: 600;
  text-align: left;
  letter-spacing: 0.5px;
  color: white;
}

#previous_btn {
  color: #3e3a71;
  border-color: #3e3a71;
}

.place_result_address {
  color: var(--bs-gray-400);
}

.card-background {
  background-color: var(--bs-secondary);
  border-radius: var(--bs-card-inner-border-radius);
}

#search_map {
  font-size: 1.1rem;
  text-align: center;
  margin: 0 !important;
  background-color: white;
  width: 400px;
  max-width: 100%;
  height: 400px;
}

fa-icon {
  color: var(--bs-primary);
  font-size: 1.5rem;
}
