/*
 * Soliguide: Useful information for those who need it
 *
 * SPDX-FileCopyrightText: © 2024 Solinum
 *
 * SPDX-License-Identifier: AGPL-3.0-only
 *
 * This program is free software: you can redistribute it and/or modify
 * it under the terms of the GNU Affero General Public License as published
 * by the Free Software Foundation, either version 3 of the License, or
 * (at your option) any later version.
 *
 * This program is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 * GNU Affero General Public License for more details.
 *
 * You should have received a copy of the GNU Affero General Public License
 * along with this program.  If not, see <https://www.gnu.org/licenses/>.
 */
.input-hours {
  background-color: #f2f7ff;
  border: 1px solid #c9d3f1;
  box-sizing: border-box;
  border-radius: 8px;
  padding: 6px;
  display: inline-block;
}

input[type="time"] {
  background-color: #ffffff;
  border: 1px solid #e0e6fb;
  box-sizing: border-box;
  border-radius: 5px;
  padding: 4px 9px;
}

input[type="time"].is-invalid {
  border-color: #da3849;
  color: #da3849;
}

.hours-new:hover {
  color: var(--bs-primary);
  background-color: white;
  border: 1px solid var(--bs-primary);
}

.hours-new {
  background-color: var(--bs-primary);
  padding: 2px 6px;
  color: white;
  border-radius: 4px;
  transition: all 0.1s ease-in;
  border: 1px solid white;
  cursor: pointer;
}

.hours-form {
  vertical-align: middle;

  th > div,
  td > div {
    background-color: transparent;
  }
  td,
  tr {
    vertical-align: middle;
    border: none;
  }

  tr:nth-child(odd) th,
  tr:nth-child(odd) td {
    background-color: #f2f5f9;
  }

  tr th {
    width: 100px;
  }

  tr td:nth-child(2) {
    width: 40px;
  }

  tr:nth-child(odd) td:first-child {
    border-radius: 5px 5px;
  }

  tr:nth-child(odd) td:last-child {
    border-radius: 5px 5px;
  }

  .spacer {
    min-height: 50px;
  }
}

.input-hours {
  position: relative;
  margin-right: 20px;
}

.red-cross {
  position: absolute;
  top: -9px;
  right: -9px;
}
