/*
 * Soliguide: Useful information for those who need it
 *
 * SPDX-FileCopyrightText: © 2024 Solinum
 *
 * SPDX-License-Identifier: AGPL-3.0-only
 *
 * This program is free software: you can redistribute it and/or modify
 * it under the terms of the GNU Affero General Public License as published
 * by the Free Software Foundation, either version 3 of the License, or
 * (at your option) any later version.
 *
 * This program is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 * GNU Affero General Public License for more details.
 *
 * You should have received a copy of the GNU Affero General Public License
 * along with this program.  If not, see <https://www.gnu.org/licenses/>.
 */
.itemDropdown {
  max-width: 90%;
  vertical-align: middle;
}

.filters-area {
  background-color: white;
  border-radius: 6px;
}

.custom-dropdown {
  margin-top: 0.5rem;
}

.dropdown-menu {
  max-height: 280px;
  overflow-y: auto;
  min-width: 100% !important;
  background-attachment: local, local, scroll, scroll;
}
#language-filter {
  position: relative;
}
