/*
 * Soliguide: Useful information for those who need it
 *
 * SPDX-FileCopyrightText: © 2024 Solinum
 *
 * SPDX-License-Identifier: AGPL-3.0-only
 *
 * This program is free software: you can redistribute it and/or modify
 * it under the terms of the GNU Affero General Public License as published
 * by the Free Software Foundation, either version 3 of the License, or
 * (at your option) any later version.
 *
 * This program is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 * GNU Affero General Public License for more details.
 *
 * You should have received a copy of the GNU Affero General Public License
 * along with this program.  If not, see <https://www.gnu.org/licenses/>.
 */
#social-links {
  padding: 0;
  margin: 0;
}

#social-links li {
  a {
    display: flex;
    align-items: center;
  }

  .ng-fa-icon {
    width: 22px;
    margin-right: 14px;
    font-size: 1.35rem;
    color: var(--bs-secondary);
  }

  span {
    font-size: 1.1rem;
    font-weight: 600;
    letter-spacing: 0.2px;
  }
  padding: 0.5rem 0;
  align-items: center;
  list-style-type: none;
}

.additional_info {
  margin-left: 0.3rem;
  color: black;
}
