/*
 * Soliguide: Useful information for those who need it
 *
 * SPDX-FileCopyrightText: © 2024 Solinum
 *
 * SPDX-License-Identifier: AGPL-3.0-only
 *
 * This program is free software: you can redistribute it and/or modify
 * it under the terms of the GNU Affero General Public License as published
 * by the Free Software Foundation, either version 3 of the License, or
 * (at your option) any later version.
 *
 * This program is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 * GNU Affero General Public License for more details.
 *
 * You should have received a copy of the GNU Affero General Public License
 * along with this program.  If not, see <https://www.gnu.org/licenses/>.
 */

#home_title {
  display: block;
  padding: 0;
  margin: 10px auto;
  max-width: 90%;
  font-size: 2rem;
  line-height: 2.5rem;
  text-align: center;
  color: #fff;
}

#home_img {
  max-width: 65%;
  height: auto;
  width: 270px;
  margin: 0 auto;
}

#home_subtitle {
  max-width: 550px;
  width: 90%;
  font-size: 1.2rem;
  font-weight: 700;
  line-height: 1.7rem;
  text-align: center;
  letter-spacing: 0.4px;
  color: #bed2f8;
  margin: 0 auto;
}

#home_search {
  width: 100%;
  padding-top: 40px;
  text-align: center;
}

// See SoliguideCountries for supported countries
$countries: "es", "fr", "ca";

@each $country in $countries {
  .home_search_background_#{$country} {
    background: linear-gradient(
        rgba(62, 58, 113, 0.75),
        rgba(62, 58, 113, 0.95)
      ),
      url("/assets/images/homepage/background-home-search-#{$country}.jpg");
  }
}

#home_search_buttons_cont {
  width: 780px;
  max-width: 90%;
  padding: 0 !important;
  margin-top: -40px;
  margin-right: auto;
  margin-left: auto;
}

.home_section {
  max-width: 800px;
  margin: 0 auto;
}

#home_search_buttons::after {
  clear: both;
  content: "";
  display: block;
}

#home_search_buttons {
  padding: 0;
  text-align: center;
  border-radius: 5px;
  box-shadow: 0 1px 10px 4px rgba(80, 80, 80, 0.12);
  z-index: 1000;
  background-color: #f6f6f6 !important;

  .active button {
    color: white;
    background-color: #e65a46 !important;
  }

  button:hover {
    text-decoration: none;
    color: #e65a46;
    background-color: white !important;
  }

  button {
    display: block;
    width: 100%;
    min-height: 110px;
    outline: none;
    border: none;
    padding: 14px 3px;
    transition: all 0.2s;
    cursor: pointer;
    border-radius: 6px;
    color: #3e3a71;
    background-color: #fcfcfc !important;
  }

  .category-icon {
    font-size: 3.2rem;
    margin: 0;
  }

  span {
    display: block;
    margin-top: 4px;
    font-size: 0.95rem;
    line-height: 120%;
    text-align: center;
  }
}

.zone {
  padding: 10px 20px;
  margin-top: 10px;
  background-color: #f6f6f6;
}

#arrowup {
  z-index: 40000;
  margin-top: 4px;
  margin-left: 30px;
}
.home-shadow {
  box-shadow: 0 2px 10px 1px rgba(100, 100, 100, 0.15);
}

#app-icons img {
  height: 40px;
  width: auto;
  margin: 0 10px;
  display: inline-block;
}
.home_section {
  h5,
  ul li {
    padding: 6px 5px;
    border-radius: 3px;
    cursor: pointer;
  }

  h5 {
    font-weight: bold;
  }

  h5:hover,
  ul li:hover,
  .active {
    transition: all 0.1s;
    color: white;
    background-color: var(--bs-secondary);
  }

  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;

    li {
      .category-icon {
        margin-right: 4px;
      }
    }
  }
}

#all-cat-icon {
  max-width: 6em;
  margin-top: 7%;
}

@media (max-width: 1024px) {
  .row {
    margin-left: 0;
    margin-right: 0;
  }
  #home_search_buttons a {
    padding: 4px 4px;
  }
}
