/*
 * Soliguide: Useful information for those who need it
 *
 * SPDX-FileCopyrightText: © 2024 Solinum
 *
 * SPDX-License-Identifier: AGPL-3.0-only
 *
 * This program is free software: you can redistribute it and/or modify
 * it under the terms of the GNU Affero General Public License as published
 * by the Free Software Foundation, either version 3 of the License, or
 * (at your option) any later version.
 *
 * This program is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 * GNU Affero General Public License for more details.
 *
 * You should have received a copy of the GNU Affero General Public License
 * along with this program.  If not, see <https://www.gnu.org/licenses/>.
 */

#autocomplete-results {
  background: white;
  font-size: 1rem;
  z-index: 20000;
  padding: 12px 10px;
  border-radius: 6px;
  box-shadow: 0 1px 5px 2px rgb(80 80 80 / 10%);
}

#autocomplete-results ul {
  margin: 0;
  padding: 0;
}

#autocomplete-results li {
  list-style-type: none;
  margin: 2px 0;
  padding: 0.5rem;
  cursor: pointer;
  border-radius: 6px;
}

#autocomplete-results li:hover {
  background-color: var(--bs-primary);
  color: white;
  -webkit-transition: all 0.2s;
  -moz-transition: all 0.2s;
  -o-transition: all 0.2s;
  transition: all 0.2s;
}

#typeLoading {
  width: 40px;
  height: auto;
}

.border-right-less {
  border-width: 1px 0px 1px 1px;
}

.input-group fa-icon {
  border-width: 1px 1px 1px 0px;
  border-color: var(--bs-gray-400);
}
